<div class="container-fluid article-wrapper">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let article of articles">
            <div class="card">
                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/05/breaking-news-jpeg-1651538030.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <blockquote>{{article.date | date: 'mediumDate'}}</blockquote>
                    <p class="card-text">
                        {{article.content}}
                    </p>
                    <a class="btn btn-primary" routerLink="/{{article.key}}">continue reading...</a>
                </div>
            </div>
        </div>
    </div>
</div>