<div class="container-fluid article-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/05/breaking-news-jpeg-1651538030.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">{{this.article?.title}}</h2>
                    <blockquote>{{this.article?.date | date: 'mediumDate'}}</blockquote>
                    <p class="lead">
                        {{this.article?.content}}
                    </p>
                    <br>
                    <p class="card-text">
                        {{this.article?.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>